svg {
  text.name {
    font-family: Arial, Sans-serif;
    font-size: 12px;
    opacity: 0.1;
  }
  line.quadrant {
    stroke-width: 1px;
  }
  circle.horizon {
    stroke: #000;
    stroke-width: 2px;
    stroke-opacity: 0.2;
    fill: none;
  }

  line.direction {
    stroke: black;
    stroke-width: 5px;
    marker-end: url(#arrow);
    // opacity: 0.2;
  }
  #arrow {
    fill: black;
  }

  path.quadrant {
    fill-opacity: 0.5;
  }
  text.quadrant-text {
    font-family: Arial, Sans-serif;
    // font-weight: bold;
    color: white;
    // opacity: 0.3;
    // font-size: 40px;
    text-align: right;
  }
}
