.layout {
  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

@media screen and (min-width: 1000px) {
  .layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  .column {
    flex: 1;
  }

  .double-column {
    flex: 2;
  }
}
